.App-header {
  color: rgb(41,56,95);
  background-color: rgb(240,243,244);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.personalGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: small;
  padding: 3vh;
  margin: 3vh 0 3vh 0
}

li {
  list-style-type: none;
  padding: 3vh;
}

.qaQuestions {
  color: rgb(41,56,95);
  padding: 3vh;
  font-size: large;

}

.qaAnswers {
  color: rgb(67,105,132);
  width: 33vh;
  height: 20vh;
  overflow: none;
  overflow-wrap: break-word
}

.qaAnswers::-webkit-scrollbar {
  display: none;
}

.qaAnswers {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.Input {
  width: 20vh;
  height: 3vh;
  font-size: small;
  margin: 1vh;
}

button {
  font-size: small!important;
  margin: auto!important;
  padding: 0.65vh!important;
  width: fit-content;

}